# Ignore virtual environment
venv/

# Ignore environment variables
.env

# Ignore SQLite local databases
*.db

# Ignore Python runtime files and caches
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Ignore local VS Code workspace settings
.vscode/

# Ignore system artifacts
.DS_Store
Thumbs.db